{% extends "base.jinja2" %}
{% block content %}

<div>User Email</div>

{{ user.email }}

<div class="page-header">
        <h1>I wish for a world...</h1>
    </div>
    <div class="list-group">
        {% for wish in wishes %}
            <h4 class="list-group-item-heading">
                <span class="glyphicon glyphicon-remove-circle"></span>
                {{ wish.wish }}
            </h4>
        {% endfor %}
    </div>
{% endblock %}
